@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&display=swap");

#root,
input,
button,
textarea {
  font-family: "League Spartan", sans-serif;
}

.errMsg {
  color: red;
  font-size: 0.7rem;
}

.hidden {
  display: none;
}

.hide_appear {
  animation-name: hide-animation;
  animation-duration: 0.5s;
}

@keyframes hide-animation {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
