@use "./variables" as v;

#root,
input,
button,
textarea {
  font-family: v.$family-font-global;
}

.hidden {
  display: none;
}

.hide_appear {
  animation-name: hide-animation;
  animation-duration: 0.5s;
}

@keyframes hide-animation {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#root {
  & > * {
    padding-inline: v.$padding-inline-mobile;

    @media screen and (min-width: 768px) {
      padding-inline: v.$padding-inline-tablet;
    }
    @media screen and (min-width: 1440px) {
      padding-inline: v.$padding-inline-desktop;
    }
  }
}
