@use "./variables" as v;

#root,
input,
button,
textarea {
  font-family: v.$family-font-global;
  outline: none;
  display: block;
}

.hidden {
  display: none;
}

// .hide_appear {
//   animation-name: hide-animation;
//   // animation-duration: 5s;
// }

// @keyframes hide-animation {
//   0% {
//     opacity: 100%;
//   }
//   50% {
//     opacity: 0%;
//   }
//   100% {
//     opacity: 100%;
//   }
// }

#root {
  min-height: 100vh;

  .pageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
      flex: 1;
    }
  }

  .pageWrapper > * {
    & > * {
      margin: 0 auto;
    }
  }
  .pageWrapper {
    & > * > * {
      width: min(1440px, 100%);
      padding-inline: v.$padding-inline-mobile;

      @media screen and (min-width: 768px) {
        padding-inline: v.$padding-inline-tablet;
      }
      @media screen and (min-width: 1440px) {
        padding-inline: v.$padding-inline-desktop;
      }
    }
  }
}

// Reservation page
