@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&display=swap");

// COLORS

// Color pallet

$clr-primary-400: #9e7f66;
$clr-primary-800: #111;

$clr-secondary-400: #17192b;
$clr-secondary-300: #242b37;
$clr-secondary-200: #5c6779;

$clr-tertiary-100: #fff;

$clr-form-input-border: #8e8e8e;

$clr-error: #b54949;

// Shadows

$box-shadow-general: 0px 75px 100px -50px #38425580;
$box-shadow-100: 0px 15px 25px #3842553f;

// FONTS

// Font family

$family-font-global: "League Spartan", sans-serif;

// Font size

$fs-heading-XL-desk: 5rem; //80px
$fs-heading-XL-tab: 3rem; //48px
$fs-heading-XL-mob: 2rem; //32px

$fs-heading-L-desk: 3rem; //48px
$fs-heading-L-mob: 2rem; //32px

$fs-heading-M-desk: 1.25rem; //20px

$fs-heading-S-desk: 1.06rem; //17px

$fs-body-1-desk: 1.25rem; //20px
$fs-body-1-mob: 1rem; //16px

$fs-body-2: 1rem; //16px
$fs-body-3: 0.875rem; //14px
$fs-form: 1.25rem;
$fs-error: 0.625rem;

// Font weight

$fw-heading-XL-desk: 300;
$fw-heading-L-desk: 700;
$fw-heading-M-desk: 700;
$fw-heading-S-desk: 600;

$fw-body-1: 400;
$fw-body-2: 400;
$fw-body-3: 400;
$fw-form: 400;
$fw-error: 500;

// Line height

$lh-heading-XL-desk: $fs-heading-XL-desk;
$lh-heading-XL-tab: 4rem; //64px
$lh-heading-XL-mob: 2.5rem; //40px

$lh-heading-L-desk: $fs-heading-L-desk;
$lh-heading-L-tab: $fs-heading-L-desk;
$lh-heading-L-mob: 2.5rem; // 40px

$lh-heading-M-desk: 1.5rem; //24px

$lh-heading-S-desk: 1.75rem; //28px

$lh-heading-S-alt: 1rem; //16px

$lh-body-1-desk: 1.875rem; //30px
$lh-body-1-mob: 1.625rem; //26px

$lh-body-2: 1.625rem; //26px
$lh-body-3: 1.75rem; //28px
$lh-form: 1.75rem; //28px

// Letter spacing

$ltsp-heading-XL-desk: -1px;
$ltsp-heading-XL-tab: -0.6px;
$ltsp-heading-XL-mob: -0.4px;

$ltsp-heading-L-desk: -0.5px;
$ltsp-heading-L-tab: -0.5px;
$ltsp-heading-L-mob: -0.4px;

$ltsp-heading-M-desk: -0.25px;

$ltsp-heading-S-desk: 2.5px;

$ltsp-body-1: normal;
$ltsp-body-2: normal;
$ltsp-body-3: 2px;
$ltsp-form: normal;
$ltsp-error: -0.13px;

// Other

$text-decoration-body-3: uppercase;

// LAYOUT

$padding-inline-mobile: 1.5rem;
$padding-inline-tablet: 2.5rem;
$padding-inline-desktop: 10.31rem;

$max-page-content-width: 1440px;
