@use "../../../styles/variables" as v;

.homeHeroSection {
  $max-width-img: 1000px;
  max-height: 950px;
  background-color: v.$clr-primary-800;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    max-height: 1100px;
  }

  .heroImage {
    img {
      width: calc(100% + v.$padding-inline-mobile * 2);
      height: auto;
      object-fit: cover;
      object-position: 25% 25%;
      margin-left: calc(-1 * v.$padding-inline-mobile);

      @media screen and (min-width: 768px) {
        width: calc(100% + v.$padding-inline-tablet * 2);
        margin-left: calc(-1 * v.$padding-inline-tablet);
      }
      @media screen and (min-width: $max-width-img) {
        margin-left: calc(-1 * v.$padding-inline-tablet + 0.5 * (100vw - $max-width-img));
        max-width: $max-width-img;
      }
      @media screen and (min-width: 1440px) {
        width: calc(100% + v.$padding-inline-desktop * 2);
        margin-left: calc(-1 * v.$padding-inline-desktop);
        max-width: unset;
      }
    }
  }
  .homeHeroContent {
    position: absolute;
    left: 0;
    top: calc(232px + (100vw - 375px) * 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-inline: v.$padding-inline-mobile;

    @media screen and (min-width: 768px) {
      top: calc(374px + (100vw - 768px) * 0.5);
      padding-inline: v.$padding-inline-tablet;
    }
    @media screen and (min-width: $max-width-img) {
      top: calc(374px + ($max-width-img - 768px) * 0.5);
      padding-inline: v.$padding-inline-tablet;
    }
    @media screen and (min-width: 1440px) {
      top: 0;
      padding-left: 165px;
      height: 100%;
      align-items: flex-start;
      padding-top: 65px;
    }
  }
  .logo {
    margin-bottom: 36px;
    @media screen and (min-width: 1440px) {
      margin-bottom: 153px;
    }
  }
  .heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: v.$clr-tertiary-100;
    text-align: center;
    @media screen and (min-width: 1440px) {
      text-align: start;
      align-items: flex-start;
      width: 507px;
    }

    .heroTitle {
      margin-bottom: 21px;
      padding-inline: calc(2rem + (100vw - 375px) / 2);
      @media screen and (min-width: 768px) {
        padding-inline: calc(10rem + (100vw - 768px) / 2);
      }
      @media screen and (min-width: 1440px) {
        padding-inline: 0;
        margin-bottom: 10px;
      }
    }
    .heroDescription {
      margin-bottom: 53px;
      padding-inline: calc(0.5rem + (100vw - 375px) / 2);
      @media screen and (min-width: 768px) {
        padding-inline: calc(3rem + (100vw - 768px) / 2);
      }
      @media screen and (min-width: 1440px) {
        padding-inline: 0;
        width: 445px;
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1440px) {
}
